<template>
   <div class="container card-shadow">
       <a v-bind:href="getLink(link)">
       <img v-bind:src="picture" class="picture"/>
       <p class="date">{{ getDayToString(next_lecture_date) }} | {{ getHours(next_lecture_date) }}</p>
       <h3 class="primary title">{{ title }}</h3>
       <p class="grey-color secondary ages">{{ min_age }}-{{ max_age }} Años</p>
       <div class="teacher-container">
           <img v-bind:src="teacher.public_picture" />
           <p class="grey-color secondary">{{ teacher.full_name }}</p>
       </div>
       </a>
   </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: String,
    picture: String,
    next_lecture_date: String,
    min_age: Number,
    max_age: Number,
    teacher: Object,
    link: Number
  },
  methods: {
    getHours(date) {
      const toDate = new Date(date);
      const hours = toDate.getHours();
      const minutes = toDate.getMinutes() < 10 ? "00" : toDate.getMinutes();
      if (hours > 12) {
        return `${hours - 12}:${minutes} PM`;
      }
      return `${hours}:${minutes} AM`;
    },
    getDayToString(date) {
      const day = new Date(date).getDay();
      const week = ['DOMINGO', 'LUNES', 'MARTES', 'MIÉRCOLES', 'JUEVES', 'VIERNES', 'SÁBADO'];
      return week[day];
    },
    getLink(id) {
        return `https://staging.prendea.com/course/${id}`;
    },
  }
}
</script>

<style scoped>
.grey-color {
  color: rgba(0,0,0,0.6);
}
.card-shadow {
    box-shadow: 0px 8px 18px rgba(92, 84, 122, 0.1);
}
.picture {
  width: 100%;
  height: auto;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.date {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
}
.ages {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
}
.teacher-container {
  position: relative;
  height: 50px;
  bottom: 0;
}
.teacher-container img {
  position: absolute;
  left: 8.7%;
  top: 0px;
  bottom: 0px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.teacher-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  left: 28.8%;
  right: 4.35%;
  bottom: 7.05%;
}
.container p, .container h3 {
  margin-left: 8.7%;
}
.container a {
    text-decoration: none;
}
</style>
