<template>
<div class="main">
  <a href="https://staging.prendea.com/" class="breadcrumb">Inicio > Buscar</a>
  <h3 class="main-title primary">Encuentra tu curso ideal</h3>
  <Pagination
    :current-page="currentPage"
    :page-count="pageCount"
    class="pagination"
    @next-page="pageChangeHandle('next')"
    @previous-page="pageChangeHandle('previous')"
    @load-page="pageChangeHandle"
  />
  <div v-if="loading">Loading</div>
  <div v-else>
    <div class="card">
      <Card
        v-for="course of courses"
        :key="course.id"
        :title="course.title"
        :picture="course.picture"
        :next_lecture_date="course.next_lecture_date"
        :min_age="course.min_age"
        :max_age="course.max_age"
        :teacher="course.teacher"
        :link="course.id"
      />
    </div>
    <Pagination
      :current-page="currentPage"
      :page-count="pageCount"
      class="pagination"
      @next-page="pageChangeHandle('next')"
      @previous-page="pageChangeHandle('previous')"
      @load-page="pageChangeHandle"
    />
  </div>
</div>
</template>

<script>
import axios from 'axios'
import Card from './Card.vue'
import Pagination from './Pagination.vue'

export default {
  name: 'Page',
  components: {
    Card,
    Pagination
  },
  data() {
    return {
      courses: [],
      loading: true,
      results: {},
      currentPage: 1,
      pageCount: 0
    };
  },
  async mounted() {
    try {
      const { data } = await axios.get('https://api-staging.prendea.com/api/courses/?limit=10&offset=10')
      this.courses = data.results
      this.pageCount = Math.ceil(data.count / 10),
      this.loading = false
      console.log(this.courses)
    } catch {
      this.loading = true;
    }
  },
  methods: {
    async pageChangeHandle(value) {
      switch (value) {
        case 'next':
          this.currentPage += 1
          break
        case 'previous':
          this.currentPage -= 1
          break
        default:
          this.currentPage = value
      }
      const { data } = await axios.get(
        `https://api-staging.prendea.com/api/courses/?limit=10&offset=${10 * this.currentPage}`
      )
      this.courses = data.results
    }
  }
}
</script>

<style scoped>
.main {
  margin: 12px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.card .container {
  width: 100%;
  margin: 12px;
  height: auto;
}
.main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #395AA6;
  margin: 12px;
}
.breadcrumb {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #395AA6;
  margin: 12px;
}
@media (min-width: 600px) {
  .card .container {
    width: calc(50% - 24px);
  }
}
@media (min-width: 760px) {
  .card .container {
    width: calc(33.33% - 24px);
  }
}
@media (min-width: 1200px) {
  .card .container {
    width: calc(20% - 24px);
  }
}
</style>
