<template>
  <div class="pagination">
    <button :disabled="isPreviousButtonDisabled" v-on:click="previousPage" class="pagination-button">
      ←
    </button>
    <PaginationButton
      v-for="paginationTrigger in paginationTriggers"
      class="base-pagination__description"
      :key="paginationTrigger"
      :pageNumber="paginationTrigger.name"
      :isDisabled="paginationTrigger.isDisabled"
      v-on:load-page="onLoadPage"
    />
    <button :disabled="isNextButtonDisabled" v-on:click="nextPage" class="pagination-button">
      →
    </button>
  </div>
</template>

<script>
import PaginationButton from './PaginationButton.vue'

export default {
  components: {
    PaginationButton
  },
  props: {
    currentPage: {
      type: Number,
      required: true,
    },
    pageCount: {
      type: Number,
      required: true,
    },
  },
  computed: {
    isPreviousButtonDisabled() {
      return this.currentPage === 1
    },
    isNextButtonDisabled() {
      return this.currentPage === this.pageCount
    },
    paginationTriggers() {
      const range = [];
      const maxVisibleButtons = 5
      for (let i = this.currentPage;
        i <= Math.min(this.currentPage + maxVisibleButtons - 1, this.pageCount) - 1;
        i+= 1 ) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }
      return range;
    },
  },
  methods: {
    nextPage() {
      this.$emit("next-page");
    },
    previousPage() {
      this.$emit("previous-page");
    },
    onLoadPage(value) {
      this.$emit("load-page", value);
    },
  },
};
</script>
<style scoped>
.pagination-button {
  background-color: #395AA6;
  width: 30px;
  padding: 4px;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 4px;
}
.pagination-button:hover, .pagination-button:disabled {
  opacity: 0.5;
  cursor: pointer;
}
.pagination {
  text-align: center;
}
</style>