<template>
  <button class="pagination-button" v-on:click="onClick" :disabled="isDisabled">
    {{ pageNumber }}
  </button>
</template>
<script>
export default {
  props: {
    pageNumber: {
      type: Number,
      required: true
    },
    isDisabled: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    onClick() {
      this.$emit("load-page", this.pageNumber)
    }
  }
}
</script>
