<template>
  <Page />
</template>

<script>
import Page from './components/Page.vue'

export default {
  name: 'App',
  components: {
    Page
  }
}
</script>
<style>
.primary {
  font-family: 'Ubuntu', sans-serif;
}
.secondary {
  font-family: 'Jost', sans-serif;
}
</style>